<form (ngSubmit)="submitTask()">

    <label for="title">nazwa</label>
    <input type="text" id="title" name="title" [(ngModel)]="addTask.title" required>
    <label for="category">Kategoria</label>
    <input type="text" id="category" name="category" [(ngModel)]="addTask.category" required>
    <label for="description">Opis</label>
    <input type="text" id="description" name="description" [(ngModel)]="addTask.description" required>

    <button type="submit">Wyślij</button>
</form>

<div class="tasks">
    <div *ngFor="let task of tasks">
        <p (click)="showDetailsTask(task.id)">{{task.title}} {{task.done}}</p>
        <button (click)="doneTask(task.id)">zrobione</button>
        <button (click)="deleteTask(task.id)">usun</button>
    </div>
</div>

<div class="task-modal" *ngIf="showTaskDetails">
    <label for="title">Tytuł</label>
    <input type="text" id="title" name="title" [(ngModel)]="taskDetails.title" value={{taskDetails.title}} required>
    <label for="category">Kategoria</label>
    <input type="text" id="category" name="category" [(ngModel)]="taskDetails.category" value={{taskDetails.category}}
        required>
    <label for="description">Opis</label>
    <input type="text" id="description" name="description" [(ngModel)]="taskDetails.description"
        value={{taskDetails.description}} required>
    <label for="done">Status</label>
    <input type="checkbox" name="done" [(ngModel)]="taskDetails.done" checked={{taskDetails.done}}>
    <button (click)="hideDetailsTask(taskDetails.id)">edytuj</button>
</div>