<form (ngSubmit)="register()">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" [(ngModel)]="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" [(ngModel)]="password" required>

  <label for="secondPassword">Second Password:</label>
  <input type="password" id="secondPassword" name="secondPassword" [(ngModel)]="secondPassword" required>


  <!-- tu jeszcze checkbox -->
  <button type="submit">Register</button>
</form>