<p *ngIf="activationMessage !== ''">{{activationMessage}}</p>

<div class="login-container" *ngIf="step === 1">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" formControlName="email" required>
      <!-- <div
      *ngIf="email.invalid && (name.dirty || name.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="name.errors?.['required']">Name is required.</div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="name.errors?.['forbiddenName']">
        Name cannot be Bob.
      </div>
    </div> -->
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" required>
    </div>
    <div class="form-bottom">
      <a href="auth/forgot-password">zapomiałem hasła</a>
      <button type="submit">Login</button>

    </div>
  </form>
</div>

<div class="modal" *ngIf="step === 2">
  <h2>Wprowadź kod autoryzacyjny</h2>
  <input type="text" [(ngModel)]="twoFactorCode" placeholder="Kod autoryzacyjny">
  <button (click)="submitTwoFactorCode()">Zatwierdź</button>
</div>

<!-- <app-two-fa *ngIf="showTwoFaModal" [email]="username"></app-two-fa> -->