<div class="two-fa-info" *ngIf="!isTwoFa">
    <h2>Wprowadź autoryzacje dwuskladnikowa</h2>
    <button (click)="cancelModal()">Może później</button>
    <button (click)="submitTwoFactor()">Wprowadź</button>
</div>

<div class="two-fa-modal" *ngIf="step === 1">
    <h2>to twój token</h2>
    <p>{{secret}}</p>
    <img [src]="qrCode" alt="">
    <button (click)="submitToken()">Potwierdź token</button>
</div>

<form (ngSubmit)="submitCode()" *ngIf="step === 2">

    <label for="code">Wprowadź kod:</label>
    <input type="text" id="twoFactorCode" name="twoFactorCode" [(ngModel)]="twoFactorCode" required>

    <button type="submit">Wyślij</button>
</form>


<div class="main" *ngIf="step === 0">
    <p>cos tam</p>
    <button (click)="addBoardHandle()">Dodaj tablicę</button>


    <div class="boards">
        <p *ngFor="let board of boards" (click)="goToBoard(board.id, board.shared)">{{board.name}}</p>
    </div>

    <div *ngIf="isCreateBoard">
        <p *ngFor="let member of boardMembers">{{member}}</p>
        <form ngNoForm (ngSubmit)="submitBoard()">

            <label for="boardname">Wprowadź Nazwę:</label>
            <input type="text" id="boardname" name="boardName" [(ngModel)]="boardName" required>
            <label for="member">Wprowadź Członka:</label>
            <input type="text" id="member" name="member" [(ngModel)]="member" (keydown.enter)="addMember()" >
 <!-- TODO:poprawic -->
            <button type="submit" (keydown.enter)="$event.preventDefault()">Dodaj</button>
        </form>
    </div>
</div>